* {
	font-size: 10px;
	font-family: "Lucida Grande";
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(215, 90%, 5%);
	min-width: 500px;
}

#twitch {
	width: 900px;
	margin-top: 20px;
	border: 1px solid hsl(0,0%,12%);
}

#twitch-search {
	width: 94%;
	background-color: hsl(0, 0%, 0%);
	padding: 3% 3% 7%;
	border-bottom: 1px solid hsl(0,0%,12%);
}

#twitch-input {
	float: left;
	padding: 5px;
	height: 30px;
	width: 25%;
	border-radius: 0;
	font-size: 13px;
}

#twitch-submit {
	float: left;
	width: 8%;
	height: 30px;
	font-size: 10px;
	margin-left: 5px;
	color: white;
	padding: 9px;
	background-color: hsl(217, 100%, 0%);
	border: none;
	text-align: center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow: inset 1px 0px 0px 0px hsl(0, 0%, 85%),
  						inset -1px 1px 0px 0px hsl(0, 0%, 85%),
  						inset 0px 1px 0px 0px hsl(0, 0%, 85%),
  						inset 0px -1px 0px 0px hsl(0, 0%, 85%);
}

#twitch-submit:hover {
	background-color: hsl(217,0%,20%);
	cursor: pointer;
}

#twitch-body {
	width: 94%;
	padding: 0 3%;
	background-color: hsl(217, 100%, 9%);
	color: white;
}

#twitch-body-header {
	padding: 1%;
}

#twitch-list {
	background-color: hsla(0,0%,0%,.2);
}

.twitch-stream {
	width: 29%%;
	padding: 1%;
	clear: both;
	padding: 2%;
	text-align: center;
	display: inline-block;
	-webkit-animation: fadein 1s; /* Safari and Chrome */
     -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera */
          animation: fadein 1s;
}

.stream-image {
	width:100%;
	height: 150px;
	padding-right: 10px;
	display:inline-block;
}

.stream-info {
	color: hsl(0,0%,70%);
	vertical-align: top;
}

.stream-name {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.stream-name:hover {
	color: hsl(217, 100%, 25%);
}

@media (max-width: 1150px) { 

	#twitch {
		width: 100%;
		margin-top: 0px;
		border: 1px solid hsl(0,0%,12%);
	}
	
	#twitch-search {
		padding-top: 20px;
	}

	#twitch-input {
		padding: 10px;
		height: 50px;
		width: 40%;
		font-size: 20px;
	}

	#twitch-submit {
		width: 20%;
		height: 50px;
		font-size: 20px;
		padding: 13px;
	}
	
	#twitch-result-count, #streamTotal {
		font-size: 20px;
	}

}

@media (max-width: 900px) { 
	#twitch-search {
		height: 2.5%;
		padding-left: 18%;
	}
	.twitch-stream {
		width: 70%;
		margin-left: 14%;
	}

	.stream-image {
		width:100%;
		height: 40%;;
	}

	.stream-name {
		color: white;
		text-decoration: none;
		font-size: 30px;
	}
	
	#twitch-result-count {
		padding: 0% 15%;
	}

	* {
		font-size: 20px;
	}

}

/*      *** ANIMATIONS ***      */

/* Fade Animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}